<div class="content">
  <div class="filter">
    <h3>Скала</h3>
    <p>Original title: The Rock</p>
    <div class="wrap">
      <img
        src="https://m.media-amazon.com/images/M/MV5BZDJjOTE0N2EtMmRlZS00NzU0LWE0ZWQtM2Q3MWMxNjcwZjBhXkEyXkFqcGdeQXVyNDk3NzU2MTQ@._V1_QL75_UX190_CR0,0,190,281_.jpg" alt="cover">

      <div class="wrap2">
        <div class="desc">A mild-mannered chemist and an ex-con must lead the counterstrike when a rogue group of
          military
          men, led by a renegade general, threaten a nerve gas attack from Alcatraz against San Francisco.
        </div>
        <div class="comand"><strong>Director:</strong> Michael Bay</div>
        <div class="comand"><strong>Writers:</strong> David Weisberg, Douglas Cook, Mark Rosner</div>
        <div class="comand"><strong>Stars:</strong> Sean Connery, Nicolas Cage, Ed Harris</div>
      </div>
    </div>
    <div class="genres">
      <div class="genre">Action</div>
      <div class="genre">Adventure</div>
      <div class="genre">Thriller</div>
    </div>
    <button class="button" (click)="goBack()" title="Back">go back</button>
  </div>
</div>
