.bg{
  display: flex;
  z-index: 3;
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var(--c-light-color);
  justify-content: center;
  align-items: center;
  top: 23px;
  left: 252px;
  cursor: pointer;
}
