<div class="lightbox">
  <div class="flex">
    <div class="center">
      <div class="w-50">
        <div class="number">404 ОШИБКА</div>
        <div class="title">Страница не&nbsp;найдена</div>
        <div class="message">К сожалению, мы не смогли найти страницу, которую вы&nbsp;ищете</div>
        <a href="" (click)="goBack()">Назад →</a>
        <a routerLink="">На главную →</a>
      </div>
      <div class="w-50"><img src="https://evo-academy.wckz.dev/assets/image/image_404.png" alt="404"></div>
    </div>
  </div>
</div>
