.text1 {
  position: relative;
  top: -29px;
  background: #fff;
  min-width: min-content;
  padding: 0 0;
}

.rf{
  max-width: 640px;
}
label, a{
  font-size: 14px;
}
a{
  color: var(--c-purple-color);
}
