.body{
  color: var(--c-dark-color-o60);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.button-block{
  height: 8em;
}
.but{
    margin-top: 70px;
}
@media screen and (max-width: 768px) {
    .but {
        margin-top: 0;
    }
}
.but > *{
  margin-left: 2em;
}
.mainimg{
  margin-right: 1em;
}

.icon-info{
  padding-top: 2em;
  padding-bottom: 2em;
}
.icon-info > *{
  margin-right: 1em;
  padding-right: 2em;
  border-right: var(--c-dark-color-o10) solid 1px;
}
.icon-info > *:last-child{
  margin-right: 1em;
  padding-right: 2em;
  border-right: none;
}
.other{
  font-size: 32px;
  font-weight: 600;
  line-height: 38.73px;
  letter-spacing: -0.04em;
  color: var(--c-dark-color);

}
.share-icon{
  cursor: pointer;
}
