.step{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
  height: max-content;
  border-bottom: 1px solid var(--c-dark-color-o10);
}
.step-title{
  font-size: 36px;
  font-weight: 600;
  line-height: 43.57px;
  letter-spacing: -0.04em;
}
.step-subtitle{
  font-size: 24px;
  font-weight: 600;
  line-height: 29.05px;
  letter-spacing: -0.02em;
  margin-left: 1em;
}
.text{
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.02em;
}
.checked {
  color: var(--c-dark-color-o60);
  text-decoration: line-through;
 }
