<div class="lightbox">
  <div class="flex">
    <div class="center">
      <div class="w-50">
        <div class="number">401 ОШИБКА</div>
        <div class="title">Доступ запрещен</div>
        <div class="message">У вас нет прав на просмотр этого раздела</div>
        <a href="" (click)="goBack()">Назад →</a>
        <a routerLink="">На главную →</a>
      </div>
      <div class="w-50"><img src="https://evo-academy.wckz.dev/assets/image/image_404.png" alt="404"></div>
    </div>
  </div>
</div>
