<div class="container">

  <ul class="nav navbar justify-content-start">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" routerLink="">Главная</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="posts">Посты</a>
    </li>

    <li class="nav-item btn-group" dropdown #dropdown="bs-dropdown" [autoClose]="true">
      <a dropdownToggle class="nav-link dropdown-toggle" style="cursor: pointer">
        Сменить роль<span class="caret"></span>
      </a>
      <ul *dropdownMenu class="dropdown-menu" role="menu">
        <li role="menuitem"><a class="dropdown-item" (click)="setRole(Roles.ADMIN)">Admin <img *ngIf="role == Roles.ADMIN" src="/assets/img/check-48.png" width="16"></a></li>
        <li role="menuitem"><a class="dropdown-item" (click)="setRole(Roles.USER)">User <img *ngIf="role == Roles.USER" src="/assets/img/check-48.png" width="16"></a></li>
      </ul>
    </li>

  </ul>

<router-outlet></router-outlet>
</div>
