.content {
  padding: 1em;
  max-width: fit-content;
}

.card {
  padding: 1em;
  margin-bottom: 0.5em;
  border: 1px solid #ccc;
  border-radius: 0.5em;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 2fr 3fr;
  grid-gap: 0.5em;
}
.item {
  border: 1px solid #ccc;
  border-radius: 0.5em;
  padding: 0.5em;
}

.ok {
  padding-left: 35px;
  background-image: url("/assets/img/icons8-checkmark-32.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left top;
}
.no {
  padding-left: 35px;
  background-image: url("/assets/img/icons8-cancel-32.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left top;
}
