<app-navigation></app-navigation>
<div class="container">
  <router-outlet></router-outlet>
  <footer class="d-flex flex-row justify-content-between w-auto p-3 border-top border-secondary-subtle p-4">
    <div class="text-secondary small">© 2023 Foodie, Все права защищены.</div>
    <div>
      <a href="#"><img src="assets/img/github.svg"></a>
      <a href="#"><img src="assets/img/ball.svg"></a>
    </div>
  </footer>

  <div *ngIf="!storage.hideBottomNotify" class="notifyBottom">
    <img src="assets/img/rupor.svg">
      Хорошие новости! Мы открыли наш интернет-магазин
    <img (click)="storage.set('notify', 'true'); storage.hideBottomNotify=true" class="close" src="assets/img/close.svg">
  </div>

</div>
