<h3>*ngFor test</h3>
<ul>
  <li
    [id]="cat.name"
    *ngFor="let cat of array_cats; index as index"
    [ngStyle]="switch_string == cat.name ? {'color': 'red'}:{'color' : 'blue'}">
    {{ index + 1 }}. {{ cat.name }}. Birthday - {{ cat.birthday | date: "dd.MM.YYYY" }}
    <span *ngIf="cat.name == 'Jerry'">I'm not cat! I need {{ 3 | plus5 }} slices of cheese.!</span>
  </li>
</ul>

<h3>*ngSwitch test</h3>
<div [ngSwitch]="switch_string">
  <div *ngSwitchCase="'Tom'">Tom</div>
  <div *ngSwitchCase="'Jerry'">Jerry</div>
  <div *ngSwitchCase="'Spike'">Spike</div>
  <div *ngSwitchCase="'Sandy'">Sandy</div>
</div>
