<div class="d-flex flex-row justify-content-between align-items-center w-100 h-100">
  <img src="{{user.avatar}}" class="rounded-5" width="64" height="64">
  <div class="flex-column">
    <div class="d-flex flex-row  align-items-center w-100 h-100 gap-2">
      <div class="title">{{ user.firstName + ' ' + user.lastName }}</div>
      <div class="role">{{ user.role === Roles.ADMIN ? 'Администратор' : 'Пользователь' }}</div>
    </div>
    <div class="text">Создан {{ user.createdOn | date:"dd MMMM YYYY": '+3' }} года</div>
    <div class="text">{{ user.username }}</div>
  </div>
</div>
