app-one-step{
  display: block;
  border-bottom: var(--c-dark-color-o10) solid 1px;
}
app-one-step:first-child{
  border-bottom: none;
}
app-one-ingredient{
  display: block;
  border-bottom: var(--c-dark-color-o10) solid 1px;
}
app-one-ingredient:first-child{
  border-bottom: none;
}
.sh{
  box-shadow: 0 1px 1px 0 var(--c-dark-color-o6);

}
.mh1{
  font-size: 32px;
  font-weight: 600;
  line-height: 24px;
  color: var(--c-dark-color);
}
.mh2{
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  color: var(--c-dark-color);
  margin-top: 1em;
}
.ttl{
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: var(--c-dark-color-o60);
}
.sm{
  font-size: 14px;
  font-weight: 400;
  color: var(--c-dark-color-o60);
}
