.card-title{
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.04em;
  color: var(--c-dark-color);
}
.card-text{
  font-size: 14px;
  font-weight: 500;
  line-height: 16.94px;
  letter-spacing: -0.02em;
  color: var(--c-dark-color-o60);
}
.card-img{
  width: 180px;
  height: 120px;
  object-fit: cover;
  border-radius: 15px;
}
